@model ProjectAPI.Models.Orderdetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Orderdetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cus.Cusid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Productid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Orderid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
