*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
}
a{
    text-decoration: none;
    color:blue;

}
.container{
    max-width: 1200px;
    margin:auto
}
#navbar{
    background: #7ccf29;
    overflow:auto;

}
#navbar h1{
    float:left;
    padding-top: 30px;
}
#navbar ul{
    list-style: none;
    float:right;

}
#navbar ul li{
    float :left;
}
#navbar ul li a{
    display: block;
    padding: 10px;
    text-align: center;
    transition: all 0.5s;
}
#navbar ul li a:hover {
    background: #cf2929;
    transition: all 0.5s;
}
.lead{
    font-size: 16px;
    padding: 10px 10px;
    text-align: justify;

}
#showcase{
    background: url('./goatourism.jpg') no-repeat center;
    height:300px;
    color:rgb(198, 120, 185);
}
.showcase-content{
    padding-top: 20px;
    color:black;
}
.showcase-content h2{
    font-size:60px;
    line-height: 1.9em;
}
.showcase-content p{
    font-size: 20px;
    
}